* {
    font-family: sans-serif;
}

body {
    text-align: center;
    background-color: #212121;
}


h1 {
    /* color: white; */
    text-align: center;
    /* color: #696969; */
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}


/* sudo selecter below */
#taskIn::placeholder {
    color: #bebebe;
}

#dueByIn {
    color: #bebebe;
}

label {
    color: #bebebe;
}


input {
    background-color: white;
    color: black;
}

button {
    background-color: white;
}

#viewTasks {
    color: white;
}

.thead {
    color: white;
}

.green {
    background-color: green;
    color: white;
    text-align: center;
}

.plain {
    text-align: center;
}

#tHead {
        margin-left:auto; 
        margin-right:auto;
}

th {
    color: white;
}