* {
    background-color: #212121;
    font-family: sans-serif;
}

body {
    text-align: center;
}


h1 {
    /* color: white; */
    text-align: center;
    /* color: #696969; */
    color: #bebebe;
}

h2 {
    color: #bebebe;
}


/* sudo selecter below */
#taskIn::placeholder {
    color: black;
}

label {
    color: #bebebe;
}


input {
    background-color: #bebebe;
    color: black;
}

button {
    background-color: #bebebe;
}